<div class="background-color">

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">

  <h1></h1>

  <h1 class="text-center">Welcome To Reid's Happy App</h1>
        <h2 class="text-center">There are no problems in life only solutions</h2>

</div>



<div class="row">
  <div class="col-md-12">
<h1><%= current_user.email %> </h1>


  </div>
  <div>
  <div class="row">
  <div class="col-md-12">
  <div class="text-center">
  <%= image_tag "Reid.jpg" %>
  </div>
</div>
</div>




