<div class="page-header">
  <h1>User Information<%= @firstname %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Firstname</dt>
  <dd><%= @user.firstname %></dd>

  <dt>Lastname</dt>
  <dd><%= @user.lastname %></dd>

  <dt>Email</dt>
  <dd><%= @user.email %></dd>

</dl>
