<div class="page-header">
  <h1>Possibility #<%= @possibility.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Answer</dt>
  <dd><%= @possibility.answer_id %></dd>

  <dt>Link</dt>
  <dd><%= @possibility.link_id %></dd>

</dl>
