<div class="page-header">
  <h1>Video Time</h1>
</div>

<dl class="dl-horizontal">
  <dt>Video</dt>

<iframe width="560" height="315" src="<%= @link.video %>" frameborder="0" allowfullscreen></iframe>

<a href="/thank_you" class="btn btn-primary">Next</a>







</dl>
